body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
h1{
    font-size: 3rem;
}
p{
    margin:0;
}
.flexor{
    display: flex;
    align-items: center;
}
.border{
    border: 0.25rem solid black;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem gray;
}
header *{
    flex: auto;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border: 0.25rem solid black;
    color: inherit;
    text-decoration: none;
    font-size: 2rem;
}
#status{
    font-size: 1.5rem;
}
#pawn{
    margin: 0.5rem 0 0.5rem 0;
    justify-content: center;
}
.pawnItem{
    border: 0.25rem solid gray;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: #008000;
}
.string{
    flex: auto;
}
#playboard{
    width: 90%;
    margin: auto;
    justify-content: center;
}
.verif{
    flex-wrap: wrap;
    padding: 1rem 1rem 0.5rem 1rem;
    justify-content: space-between;
    height: 4rem;
}
.playboard{
    flex-direction: column;
}
.verif *{
    width: 40%;
    height: 1.5rem;
    border-radius: 50%;
    background-color: black;
}
.playboard *{
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
    background-color: gray;
    border-radius: 50%;
}