@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    font-family: 'Lexend Mega', sans-serif;
    margin: 0;
    background-image: url(https://cdn.pixabay.com/photo/2018/08/25/11/20/abstract-3629844_1280.jpg);
}
h1{
    text-align: center;
}
h1{
    font-size: 3rem;
}
p{
    margin:0;
}
.flexor{
    display: flex;
    align-items: center;
}
.border{
    border: 0.25rem solid black;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem gray;
}
header{
    justify-content: center;
}
header *{
    width: 50%;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    color: white;
    text-decoration: none;
    font-size: 2rem;
    background-color: black;
}
#status{
    font-size: 1.5rem;
}
#pawn{
    margin: 0.5rem 0 0.5rem 0;
    justify-content: center;
}
.pawnItem{
    border: 0.25rem solid gray;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
}
.round{
    border: 2px solid black;
}
.yellow{
    background-color: #00ced1 !important;
}
.red{
    background-color: #ff4500 !important;
}
.blue{
    background-color: #da70d6 !important;
}
.green{
    background-color: palegoldenrod !important;
}
.string{
    flex: auto;
    position: relative;
}
button{
    position: absolute;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    background-color:green;
    border: 0;
    margin: auto;
    left: 0;
    right: 0;
}
#playboard{
    width: 90%;
    margin: auto;
    padding: 1rem 0 1rem 0;
    align-items: flex-start;
    background-color: white;
}
.verif{
    justify-content: space-between;
    flex-wrap: wrap;
}
.playboard{
    flex-direction: column;
    flex-wrap: wrap;
}
.verif *{
    flex:50%;
    height: 1.5rem;
    position: relative;
}
.verif span{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 50%;
}
.verif *:first-child span, .verif *:nth-child(0n+3) span
{
    left: 2rem;
}
.verif *:nth-child(0n+2) span, .verif *:nth-child(0n+4) span
{
    right: 2rem;
}
.playboard *{
    width: 2rem;
    height: 2rem;
    margin: 0.25rem;
    background-color: gray;
    border-radius: 50%;
}
.gold{
    background-color: gold !important;
    border: 1px solid black;
}
.silver{
    background-color: silver !important;
    border: 1px solid black;
}
#result{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: black;
    opacity: 0.8;
    color: white;
    margin: auto;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 3rem;
    border-radius: 2rem;
}